@font-face {
  font-family: "OpenSans-Regular";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.nav-toggle {
  position: relative;
  z-index: 51;
  display: none;
  background: #000;
  border: 0;
  padding: 9px;
  cursor: pointer;
  height: 40px;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  font-size: 0;
  color: transparent;
  position: relative;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  background: #fff;
  position: absolute;
  right: 0;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item {
  margin-left: 15px;
  background: none;
}

.nav-toggle.active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3px);
  -ms-transform: rotate(45deg) translateX(-3px);
  transform: rotate(45deg) translateX(-3px);
}

.nav-toggle.active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
  -ms-transform: rotate(-45deg) translateX(-3px);
  transform: rotate(-45deg) translateX(-3px);
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  background: #d8d8d8;
  margin-bottom: 10px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header__row.active {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header__row.active .header__logo {
  border-right: 0;
}

.header__logo .logo {
  color: #000;
  font-size: 16px;
  margin-right: 16px;
  font-weight: 700;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 30px;
  display: block;
}

.header-menu-list__item {
  padding: 0 10px;
}

.header-menu-list__link {
  color: #000;
  position: relative;
  font-size: 16px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.header-menu-list__link:hover {
  color: #ee1a1a;
}

.help-header.active {
  display: none;
}

.help-header__button {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  background: none;
  border-left: 1px solid #fff;
  padding-left: 10px;
  font-weight: 700;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  padding: 0 15px;
  height: 40px;
}

.help-header__button:hover {
  background: #000;
  color: #fff;
}

.help-header__button:focus {
  outline: none;
}

.global-wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: 'Times New Roman', Georgia;
  color: #000000;
  font-size: 16px;
  margin: 0;
}

html,
body {
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 4px;
}

.pannel-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #d8d8d8;
}

.pannel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #d8d8d8;
}

.page {
  padding-bottom: 15px;
  padding-top: 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 10px;
  background: #d8d8d8;
}

.page__content {
  padding: 0 15px;
}

.content-page__title {
  text-align: center;
  margin-bottom: 15px;
}

.content-page__row {
  margin-bottom: 15px;
}

.content-page__item {
  padding: 0 9px 0 0;
  background: white;
}

.content-page__item + .content-page__item {
  margin-top: 15px;
}

.content-page__img img {
  width: 75px;
  height: 75px;
  display: block;
}

.content-page__text {
  margin-left: 10px;
  padding-top: 10px;
}

@media (min-width: 471px) {
  .header__logo {
    padding: 0 15px;
  }
}

@media (min-width: 751px) {
  .header__logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 250px;
    flex: 0 1 250px;
  }

  .header-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-menu-list__item {
    border-left: 1px solid #fff;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header-menu-list__item_last {
    border-right: 1px solid #fff;
  }

  .global-wrapper__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .pannel-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    max-height: 250px;
  }

  .pannel-left__title span {
    display: block;
  }

  .pannel-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
  }

  .pannel-right__title span {
    display: block;
  }

  .content-page__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 900px) {
  .content-page__img img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media (max-width: 750px) {
  .nav-toggle {
    display: block;
  }

  .header__logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
  }

  .header__logo .logo {
    margin-right: 0;
  }

  .logo img {
    width: 117px;
  }

  .header-menu-list {
    padding-top: 9px;
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
    position: fixed;
    -webkit-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    top: 0;
    left: 0;
    z-index: 52;
    background: #313030;
    height: 100%;
    width: 72%;
  }

  .header-menu-list.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .header-menu-list__item {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .header-menu-list__item:last-child {
    margin-bottom: 0;
  }

  .header-menu-list__link {
    color: #fff;
    font-size: 18px;
  }

  .pannel-left {
    min-height: 200px;
  }

  .pannel-right {
    min-height: 100px;
  }

  .page {
    margin: 10px 0;
  }

  .content-page__item {
    padding-bottom: 15px;
  }

  .content-page__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
  }

  .content-page__description {
    display: none;
  }
}

@media (max-width: 750px) and (max-width: 750px) {
  .header__logo {
    margin-left: 0;
  }
}

@media (max-width: 750px) and (max-width: 470px) {
  .header__logo {
    border-left: 0;
  }
}

@media (max-width: 740px) {
  .header-menu-list {
    width: 65%;
  }
}

@media (max-width: 600px) {
  .header-menu-list {
    width: 55%;
  }
}

@media (max-width: 470px) {
  .logo {
    display: none;
  }

  .header-menu-list {
    width: 81%;
  }
}

@media (max-width: 425px) {
  .content-page__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px;
  }

  .content-page__img {
    margin: 0 auto;
  }

  .content-page__text {
    text-align: center;
  }
}